# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/rethinkdb_data
/src/public/storage
/public/storage
/storage/*
/node_modules
/.pnp
.pnp.js
ca.crt
cert.crt
ca.key
cert.key
# testing
/coverage
/test-results

# next.js
/.next/
/out/

# production
/build

**/__MACOSX/
.DS_Store


# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
